<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHmzXW0G_ihlNe0J10SOrT2C-ioqsDTUI</string>
	<key>GCM_SENDER_ID</key>
	<string>134094498015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bbherb.bbgo</string>
	<key>PROJECT_ID</key>
	<string>bbgo-17873</string>
	<key>STORAGE_BUCKET</key>
	<string>bbgo-17873.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134094498015:ios:572a53ba7a44d4231fa16a</string>
</dict>
</plist>