<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BBHerb</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>smemart</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>UwLs5h48Uix0G9IqksDmQO_agdgLdAPhwERWk</string>
	<key>LSApplicationCategoryType</key>
	<string>NSLocationWhenInUseUsageDescription</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>metamask</string>
		<string>trust</string>
		<string>safe</string>
		<string>rainbow</string>
		<string>uniswap</string>
		<string>zerion</string>
		<string>imtokenv2</string>
		<string>spot</string>
		<string>omni</string>
		<string>dfw</string>
		<string>tpoutside</string>
		<string>robinhood-wallet</string>
		<string>frontier</string>
		<string>blockchain-wallet</string>
		<string>safepalwallet</string>
		<string>bitkeep</string>
		<string>oneinch</string>
		<string>exodus</string>
		<string>bnc</string>
		<string>ledgerlive</string>
		<string>mewwallet</string>
		<string>awallet</string>
		<string>keyring</string>
		<string>lobstr</string>
		<string>ontoprovider</string>
		<string>mathwallet</string>
		<string>unstoppabledomains</string>
		<string>obvious</string>
		<string>fireblocks-wc</string>
		<string>ambire</string>
		<string>internetmoney</string>
		<string>walletnow</string>
		<string>bitcoincom</string>
		<string>coin98</string>
		<string>arculuswc</string>
		<string>cryptobrowser</string>
		<string>chainapp</string>
		<string>huddln</string>
		<string>verso</string>
		<string>haha</string>
		<string>modularwallet</string>
		<string>coinomi</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>192.168.1.11</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>192.168.1.6</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>New Exception Domain</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>api.</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>apihtm.trailer.work</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Using for avatar upload and QR Scanning</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use your location to calculate the distance between you and our restaurant. For example, we display how far you are from the restaurant to help you plan your visit more easily</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We use your location to calculate the distance between you and our restaurant. For example, we display how far you are from the restaurant to help you plan your visit more easily</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict/>
	<key>NSLocationUsageDescription</key>
	<string>Using for place an food order.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Using for place an food order.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Using for QR Scanning function</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Using for avatar upload</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Using for avatar upload</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Ionicons.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
